body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font: bold;
  color: aqua;
  text-decoration-line: line-through;
  text-decoration-color: blueviolet;
}